@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Merriweather:ital,wght@1,300&family=Playfair+Display:ital@1&display=swap');

body {
    background-color: yellow;
}
#logo_link {
    position: relative; 
    z-index: 2; 
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    margin-left: auto; /* Isso alinhará o logotipo à direita do contêiner */
    margin-right: auto; 
}

.logo {
    width: 80px;
    padding-top: 10px;
    position: relative; 
    z-index: 2; 
    border-radius: 50%;
    padding: 10px;
}

.rafting {
    width: 100%;
    margin-top: -120px;
    z-index: 1; 
    
}

.header-container {
    display: flex;
    align-items: center;
    
}


nav {
    background-color: transparent;
    font-size: 1.2em;
    display: flex;
    top: 5px;
    justify-content: space-around;
    text-align: center;
    width: 100%;

}

nav a {
    text-align: center; 
    color: yellow;
    text-decoration: none;
    font-family: Bebas Neue;
    font-size: 2.3em;
    
    size: 30%;
    
}

nav a:hover {
    background-color: aqua;
    color: brown;
}



nav a {
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 2;

}
/*
.background {
    width: 30%;
    height: 30%;
    position: absolute;
    background-color: aqua;
    z-index: 0; 
}

.background.sp {
    top: 27%;
    left: 30%;
    
}

.background.to {
    top: 100%;

}

.background.veadeiros {
    position: absolute;
    background-color: aqua;
    z-index: 2; 
    top: 215%;  
    
    left: 0; 
    
    width: 50%;  
    height: 50%;  
}

section {
    position: relative;
    margin-bottom: 20px; /* Espaçamento inferiosr entre as seções */


h1, h2, p {
    position: relative;
    z-index: 1; 
    padding: 20px; 
}

.Jacaré-Pepira {
    width: 50%;
    height: 50%;
    

}

.Tocantins {
    position: relative;
    left: 50%; 
    height: 40%;
   

}


.container {
    display: flex;
    align-items: center ;
    
    max-width: 1000px; 
    margin-top: 50px;

}

/* size img */


/* size, color of the text */
.text {
    position: absolute;
    padding: 20px;
    text-align: center;
    left: 30%;
    background-color: chocolate;
    color: aliceblue;
    margin-right: 50px;
    width: 40%;
    height: 40%;
   
}


.to-container {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 30px;
    max-width: 1000px; 
    margin-top: 50px;
    
}


.text-to {
    position: absolute;
    
    padding: 20px;
    background-color: chocolate;
    color: aliceblue;
    right: 50%;
    max-width: 40%;
    height: 40%;
    padding: 50px;
}

.veadeiros {
    display: flex;
    align-items: center ;
    justify-content: space-between;
    padding: 30px;
    max-width: 1000px; 
    margin-top: 50px;
    
}

.text-veadeiros {
    position: absolute;
    
    padding: 20px;
    background-color: chocolate;
    color: aliceblue;
    left: 52%;
    max-width: 40%;
    height: 40%;
    padding: 50px;
}


/*footer*/

footer {
    background-color: chocolate;
    color: white;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}

footer .social img {
    padding-top: 15px;
}

footer a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    color: blue;
    text-decoration: underline;
}

/* font  size of the our text*/

h1 {
    text-align: center;
    margin-top: 90px;
    font-family: Agbalumo, sans-serif;
    font-size: 2.6em;
    margin-right: 5%;
}

#to , #sp , #serra {
    font-family: Bebas Neue;
    font-size: 1.1em;
}

h2 {
    font-family: Bebas Neue;
    font-size: 2.0em;
    padding: 70px;
}

.riverto {
   margin-left: 65%;

}

p {
    font-family: Bebas Neue;
    text-align: center;
    font-size: 1.5em;
}

.banner {
    position: relative;
    text-align: center;
}

.banner img {
    width: 100%;
    height: auto;
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7); /*  um fundo semi-transparente */
    padding: 40px; /*  espaço ao redor do conteúdo */   
    
}

.unforgettable {
    margin-bottom: 20px; 
    margin-top: -20%;
    font-family: Agbalumo, sans-serif;
    
}

.button-box a.book {
    padding: 10px 20px;
    background-color: aqua;
    color: brown;
    text-decoration: none;
    font-size: 1.5em;
    justify-self: center;
    font-family: Agbalumo, sans-serif;
}

.book :hover {
    color: green;
}

