
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Autour+One&family=Lobster&family=Pacifico&family=Teko:wght@300&family=Young+Serif&display=swap');


/*apply the text-align: center; style to the following selectors:*/
#content {
    max-width: 1600px; 
    margin: 0 auto;
}

nav {
    text-align: center; 
    background-color: yellow;
    font-size: 1.2em;
}

nav a {
    text-align: center; 
    color: blue;
    text-decoration: none;
    padding: 35px;
    
}

header img {
    align-items: center;
}

#Hero {
    text-align: center; 
    width: 100%;
}

#Hero-msg {
    text-align: center; 
}

.button-box {
    text-align: center; 
}
main section {
    text-align: center; 
}

#background {
    height: 725px;
   
}

body {
    background-color: white;
    font-size: 22px;
    font-family: anton, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}

nav a:hover {
    background-color: aqua;
    color: brown;
}

.book {
    background-color: yellow;
    color: blue;
    text-decoration: none;
    font-size: 1.3em;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;

}

.join {
    background-color: green;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: aqua;
    color: brown;
}

.join:hover {
    background-color: aqua;
    color: blue;
}

#background {
    background-color: green;
}

.msg {
    background-color: gold;
    line-height: 1.5em
}

footer {
    background-color: chocolate;
    color: white;
    padding: 25px 50px;
}

footer .social img {
    padding-top: 15px;
}

.home-title {
    color: rgb(32, 218, 85);
}

h4 {
    color: chocolate;
    font-size: 1.6em;
}

.msg h2 {
    color: brown;
    font-size: 1.3em;
    padding: 35px;
}

.msg p {
    color: brown;
    font-size: 1.2em;
    padding-bottom: 15px;
    font-family: teko, sans-serif;

}

footer a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}

footer a:hover {
    color: blue;
    text-decoration: underline;
}

.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.home-title {
    font-size: 2em;
    margin-top: 10px;

}

h2 {
    margin: 0;
    font-family: pacifico, sans-serif;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid black;
}

main section img {
    box-sizing: border-box;
}