/* CSS - Name: "positionstyles.css" */
/* Activity 1 styles */
.content1 {
  /* This is the parent of the activity 1 boxes. */
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 20px;

}
.red1 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
  grid-column: 1/3;

} 
.green1 {
  width: 200px; 
  height: 200px; 
  background-color: green; 

} 
.yellow1 {
  width: 200px; 
  height: 200px; 
  background-color: gold; 
} 
.blue1 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
  grid-column: 1/3;
} 
/* Activity 2 styles */ 
.content2 {
  /* This is the parent of the activity 2 boxes. */
  justify-content: center;
 
}
.red2 {
  width: 100px; 
  height: 100px; 
  background-color: red;
  z-index: 1; 
} 
.green2 { 
  width: 100px; 
  height: 100px; 
  background-color: green;
  position: relative;
  left: 5%;
  top: -50px;
  z-index: 2;

} 
.yellow2 {
  width: 100px; 
  height: 100px; 
  background-color: gold; 
  position: relative;
 left: 10% ;
 top: -100px;
  z-index: 3;
} 
.blue2 {
  width: 100px; 
  height: 100px; 
  background-color: blue;
  position: relative; 
  left: 15%;
  top: -150px;
  z-index: 4;
} 
/* Activity 3 styles */ 
.content3 {
    /* This is the parent of the activity 3 boxes. */
   width: 100%;
   height: 100vh;
   margin: 0;
   padding: 0;
   display: flex;
   flex-direction: column;
  }
  
.red3 {
    width: 100%; 
    height: 25vh; 
    background-color: red; 
    
  } 
.green3 {
    width: 45%; 
    height: 50vh; 
    background-color: green;
  } 
.yellow3 {
    width: 30%; 
    height: 50vh; 
    background-color: gold;
    position: absolute;
    margin-top: 25vh;
    margin-left: 527px;
    
  } 
.blue3 {
    width: 100%;
    height: 25vh; 
    background-color: blue;
  
  }
/* Activity 4 styles */ 
.content4 {
  /* This is the parent of the activity 4 boxes. */
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.red4 {
  width: 40%; 
  height: 100vh;
  background-color: red;
  position: absolute;
} 
.green4 {
  width: 50%; 
  height: 33.3vh; 
  background-color: green;
  margin-left: 50%;
} 
.yellow4 {
  width: 50%; 
  height: 33.33vh; 
  background-color: gold;
  margin-left: 50%;
} 
.blue4 {
  width: 50%; 
  height: 33.33vh; 
  background-color: blue; 
  margin-left: 50%;
} 
/* Activity 5 styles */ 
.content5 {
  /* This is the parent of the activity 5 boxes. */
  width: 100%;
  height: 100vh;
}
.red5 { 
  width: 100%; 
  height: 100px; 
  background-color: red; 
} 
.green5 { 
  width: 200px; 
  height: 200px; 
  background-color: green;
  position: relative;
  z-index: 1;
} 
.yellow5 {
  width: 100%; 
  height: 50vh; 
  background-color: gold;
  margin-top: -200px;
  position: relative;
}

.blue5 {
  width: 100%; 
  height: 100px; 
  background-color: blue; 
} 
/* Activity 6 styles */ 
.content6 {
  /* This is the parent of the activity 6 boxes. */
  width: 100%;
  height: 100vh;
}
.red6 {
  width: 60%; 
  height: 40%; 
  background-color: red; 
} 
.green6 {
  width: 250px; 
  height: 250px; 
  background-color: green;
  position: absolute;
  margin-top: 150px;
} 
.yellow6 {
  width: 27.3%; 
  height: 57vh; 
  background-color: gold; 
  margin-left: 42.1%;
  position: absolute;
  margin-top: 1.8%;
  z-index: 2;
} 
.blue6 {
  width: 60%; 
  height: 70%; 
  background-color: blue; 
  margin-top: -15%;
  margin-left: 15%;
} 


/* Do not make any changes below here */
.activity {
  width: 70%; 
  margin: 20px auto; 
  font-family: Arial, sans-serif; 
  border: 1px solid black; 
  padding: 10px; 
  clear:both; 
  overflow: auto;
} 

.hint {
  border: 1px solid grey;
  background: #e0e0e0;
  padding: .5em;
  position: relative;
  margin: 1em 0;
}
.hint h3 {
  margin: 0;
}
.hint:hover {
  background: #d0d0d0;
}
.hint > div {
  display: none;
}

.hint input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.hint input[type=checkbox]:checked ~ div {
  display: block;
}

.hint i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 10px;
  top: -3px;
}
.hint i:before, .hint i:after {
  content: "";
  position: absolute;
  background-color: black;
  width: 3px;
  height: 9px;
}
.hint i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.hint i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

.hint input[type=checkbox]:checked ~ i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.hint input[type=checkbox]:checked ~ i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.hint a {
  position: relative;
  z-index: 1;
}