
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Pacifico&family=Roboto+Mono:ital,wght@0,700;1,400&family=Young+Serif&display=swap');

h1 {
  padding: 50px;
  background-color: #5e503f;
  color: white;
  font-family: pacifico, sans-serif ;
  font-size: 50px;

   
}

body {

  background-color: #FDFFFF;
}

nav {
  background-color: #7a6448;
  display: flex;
  justify-content: space-between; /* Change to space-between to separate logo and links */
  align-items: center;
  padding: 10px;
  height: 80px;
  background-image: url(https://kelvynli.github.io/wd130/wwr/personal-site/images/bg__header--mob.png);
  font-size: 30px;
  font-family: lobster, sans-serif;
}

nav a:hover {
  color: bisque;
  background-color: cadetblue;
  text-decoration: none ;
  
  
}

.logo {
  width: 100px;
  margin-top: -5px;
  margin-right: 20px;
  border-radius: 50%;
}

/* navigation bar links */
nav ul {
  list-style: none;
  padding: 0;
  margin:  0;
  display: flex; /* Make the links flex items */
 width: 100%;
 
  
}

nav ul li {
  margin: 0 15px; /* Add margin to space out the links */
}

nav a {
  text-decoration: none;
  color: white;
}


li {
  margin: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  flex: 1; 
}

.picture , .photo {
  width: 40%;
  height: 40%;
  padding: 70px;
  

}

.quadro { 
  display: flex;
}

.caixa {
  display: flex;
}

.writ {
  width: 50%;
  padding-right: 30px;
  margin-top: 70px;
  font-family: Fira Sans;
  font-size: 37px;
}

.script {
  width: 50%;
  padding-left: 30px ;
  margin-top: 70px ;
  font-size: 37px;
}
/*  navigation bar links */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;


}

nav ul li {
  display: inline;
  text-align: center;
  justify-content: center;
 
}

nav a {
  text-decoration: none;
  margin: 38px 38px; 
  color: #FDFFFF; 
  text-align: center; 
  text-decoration: none;
  justify-content: space-around;
  
  

}

nav {
  font-size: 2.0em;


}



.container {
  display: inline-block;
  width: 30%; 
  background-color: #f0f0f0; 
  padding: 10px;
  text-align: left;
  margin: 10px; 
  color: #972D07;
  font-family: young, sans-serif ;
  margin-top: 30px;
}

main {
  color: black;
  font-family: adlam display, sans-serif;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  font-family: sans;
}

p {
  font-size: 1.1em;
  line-height: 1.5;
  font-family: neue, sans-serif;
}

#sweet {
  display: inline-block;
  max-width: 25%; 
  vertical-align: top;
  padding: 25px;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

#paragraph {
  background-color: lightsteelblue;
  width: auto;
  text-align: center;
}

#candy {
  padding: 25px;
}

h3 {
  font-family: Pacifico, sans-serif;
  padding: 25px;
  font-size: 30px;  
}

h2 {
  font-family: pacifico, sans-serif ;
  font-size: 30px;
}

table {
  background-color: chocolate;
  padding: 25px;
  margin: 0 auto;
}

footer a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
}

footer a:hover {
  color: blue;
  text-decoration: underline;
}

footer {
  background-color: #F9A03F;
  color: white;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer .social img {
  padding-top: 15px;
  border-radius: 10px;
}

