/* Styles for the navigation bar */

body {
    background-color: brown;
}

nav {
    background-color: #8a2be2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 80px;
    
    
    
}


   
.logo {
    max-width: 100px;
    height: auto;
    margin-right: 20px; /* Adjust the spacing between the logo and links */
    justify-content: right;
}

/* Styles for the navigation bar links */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;


}

nav ul li {
    display: inline;
    text-align: center;
    justify-content: center;
   
}

nav a {
    text-decoration: none;
    margin: 38px 38px; /* Adjust the spacing between links */
    color: white; /* Text color for the links */
    text-align: center; /* Center the text within each link */
    
    

}

/* Your existing styles for the navigation bar */
nav {
    font-size: 2.0em;


}

#candy-img {
    text-align: center;
     width: 100%;
     height: 40%;
     top: -33px;
}

/*this code take the image*/
.background img {
    display: flex;
   margin-left: 0%;
    width: 10; /* Certifique-se de que a imagem de fundo cubra toda a largura da área desejada */
    height: 10%; /* Certifique-se de que a imagem de fundo cubra toda a altura da área desejada */
    border-radius: 50%;
    margin-top: 60%;
    margin-left: 60px;
    


}


.sweet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.sweet1  {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    width: 50%;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    z-index: 1;
    margin: 5%;
    

}

.sweet5 {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    z-index: 1;
    
}

.sweet2 {display: flex;
    flex-direction: column;
    background-color: aliceblue;
    text-align: center;
    width: 40%;
    height: 40%;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
}

.sweet3 {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    z-index: 1;
}

.sweet4 {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    z-index: 1;
}

.bri {
    width: 100%;
    height: 50%;
    border-radius: 5%;

}

.bei {
    width: 20%;
    height: 20%;

}

.goi {
    width: 20%;
    height: 20%;
}

.don {
    width: 100%;
    height: 40%;
    border-radius: 5%;

}

.pan {
    width: 100%;
    height: 40%;
    border-radius: 5%;
}

.rap {
    width: 20%;
    height: 20%;
}

/* the text now*/

.choco {
    width: 50%;
    height: 30%;
    text-align: center;
    text-size-adjust: 70px;
}

.leite {
    width: 50%;
    height: 30%;
    text-align: center;
}

.goiaba {
    width: 30%;
    height: 30%;
}

.rosq {
    width: 30%;
    height: 30%;
}

.panq {
    width: 50%;
    height: 30%;
    text-align: center;
}

.rapa {
    width: 30%;
    height: 30%;
}

