/* Styles for the navigation bar */
nav {
    background-color: #8a2be2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 80px;
    
    
}


   
.logo {
    max-width: 100px;
    height: auto;
    margin-right: 20px; /* Adjust the spacing between the logo and links */
    justify-content: right;
}

/* Styles for the navigation bar links */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;

}

nav ul li {
    display: inline;
    text-align: center;
    justify-content: center;
   
}

nav a {
    text-decoration: none;
    margin: 38px 38px; /* Adjust the spacing between links */
    color: white; /* Text color for the links */
    text-align: center; /* Center the text within each link */
    
    

}

/* Your existing styles for the navigation bar */
nav {
    font-size: 2.0em;


}

#candy-img {
    text-align: center;
     width: 100%;
     height: 70%;
     top: -33px;
}

/*this code take the image*/

.sweet {
    
}

.bri {
    width: 20%;
    height: 20%;

}

.bei {
    width: 20%;
    height: 20%;

}

.goi {
    width: 20%;
    height: 20%;
}

.don {
    width: 20%;
    height: 20%;
}

.pan {
    width: 20%;
    height: 20%;
}

.rap {
    width: 20%;
    height: 20%;
}

/* the text now*/

.choco {
    width: 30%;
    height: 30%;
}

.leite {
    width: 30%;
    height: 30%;
}

.goiaba {
    width: 30%;
    height: 30%;
}

.rosq {
    width: 30%;
    height: 30%;
}

.panq {
    width: 30%;
    height: 30%;
}

.rapa {
    width: 30%;
    height: 30%;
}

